{% extends "juegosApp/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

{% for persona in lista_personas %}
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ persona.nombre }}</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration">{{ persona.comentarios }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

{% endfor %}

{% endblock %}