{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">CONTACTANOS</h1>
    {% endblock %}

    {% block contenido2 %}
        <p class="text-white-75 mb-5">Si necesitas atención médica a domicilio, telemedicina, consulta en centro médico o información, comunicate con nosotros!!</p>
        <a class="btn btn-primary btn-xl" href="{% url 'ContactoFormulario' %}">Ingrese</a>
    {% endblock %}

    {% block contenido3 %}


    {% endblock %}
    {% block contenido4 %}

    {% endblock %}
    {%block contenido5%}
    {%endblock%}