{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">MÉDICOS</h1>
    {% endblock %}

    {% block contenido2 %}

        <a class="btn btn-primary btn-xl" href="{% url 'LeerMedicos' %}">BUSCAR PROFESIONALES DE CHAPP MEDICA</a>

        <hr>

        <p class="text-white-75 mb-5">¿Quieres trabajar con nosotros? Haz click en el siguiente boton</p>
        <a class="btn btn-primary btn-xl" href="{% url 'MedicoFormulario' %}">SUMATE A NUESTRO EQUIPO</a>



    {% endblock %}

    {% block contenido3 %}

    {% endblock %}
    {% block contenido4 %}

    {% endblock %}

    {%block contenido5%}
    {%endblock%}
