{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">Pages Contacto</h1>
    {% endblock %}

    {% block contenido2 %}

        <h8 class="text-white font-weight-bold">En esta vista quien ingrese podrá enviar una consulta al equipo de CHApp MEDICA sin necesidad de estar registrado como paciente o médico. Se puede consultar sobre servicios disponibles, disponibilidad de médicos o cualquier consulta pertinente.</h8>
        <br>
        <br>
        <a class="btn btn-primary btn-xl" href="{% url 'Contacto' %}">CHApp Contacto</a>



    {% endblock %}

    {% block contenido3 %}

    {% endblock %}
    {% block contenido4 %}

    {% endblock %}
    {%block contenido5%}
    {%endblock%}

