{% extends 'AppMedica/padre.html' %}


{% load static %}
    {% block contenido %}
        <h1 class="text-white font-weight-bold">SERVICIOS</h1>
    {% endblock %}

    {% block contenido2 %}
    <h3 class="text-white-75 mb-8">Tenemos una gran variedad de servicios disponibles!</h3>
    <b>
        <p class="text-white-75 mb-10">- Médicos a domicilio</p>
        <p class="text-white-75 mb-10">- Clínicas y Sanatorios</p>
        <p class="text-white-75 mb-10">- Especialidades médicas</p>
        <p class="text-white-75 mb-10">- Estudios de diagnóstico</p>
        <p class="text-white-75 mb-10">- Telemedicina</p>
        <p class="text-white-75 mb-10">- Traslado terrestre</p>
        <p class="text-white-75 mb-10">- Enfermería a domicilio</p>
        <p class="text-white-75 mb-10">- Internación domiciliaria</p>
        <p class="text-white-75 mb-10">- Concierge</p>
    </b>

    <p class="text-white-75 mb-5">Estamos listos para ayudarte!</p>
    <a class="btn btn-primary btn-xl" href="{% url 'ContactoFormulario' %}">CONTACTANOS</a>
   
    {% endblock %}

    {% block contenido3 %}


    {% endblock %}
    
    {% block contenido4 %}


    {% endblock %}
    {%block contenido5%}
    {%endblock%}